/* Custom CSS for the DataTable paginator */

.table-wrapper {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Shadow effect */
  border-radius: 0.375rem; /* Optional: rounded corners */
  overflow: hidden; /* Ensure content doesn't overflow */
  background-color: white; /* Set background color */
}

.table-container {
  overflow-y: auto; /* Enable vertical scrolling */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Add shadow effect */
  border-radius: 0.375rem; /* Optional: rounded corners */
}
